{% extends "base.html" %}

{% block title %}Eliminar Receta{% endblock %}

{% block content %}
<h1>Eliminar Receta</h1>
<a href="{% url 'dietas:index' %}" class="btn">Volver</a>
<br><br>
<div class="card">
    <p>¿Estás seguro de que deseas eliminar la receta <strong>{{ receta.nombre }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <div class="actions" style="margin-top: 15px;">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'dietas:receta_detail' receta.id %}" class="btn">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
